:root {
  /* colors */
  --color-primary: #0E2844;
  --color-secondary: #FF6525;
  --color-white: #fafafa;
  --color-soft: #fff9f4;

  /* typography */
  font-size: 10px;
  --sd-font-size: 2rem;
  --medium-font-size: 2.5rem;
  --big-font-size: 3.5rem;
  --h1-font-size: 7.5rem;
  --li-font-size: 1.8rem;
  --card-sd-font-size: 1.8rem;
  --card-big-font-size: 3rem;

  /* padding */
  --sd-padding-size: 6rem;
  --ft-padding-size: 10rem;
}

/* CSS resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS global */
body {
  width: 100%;
  max-width: 1250px;
  height: 100vh;
  margin: 0 auto;
  padding: 3rem 5%;
  font-family: 'Quicksand', sans-serif;
  background:var(--color-white);
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

h1, h2, h3 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-primary);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-size: var(--sd-font-size);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

/* container */
#container {
  
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  background-color:var(--color-soft);
  
}

/* header */
.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

/* brand-menu-container */
.brand-menu-container {
  display: flex;
  align-items: center;
}

/* logo */
.logo {
  max-width: 280px;
}

.logo img {
  width: 100%;
}

/* menu-toggle-container */
.menu-toggle-container {
  font-size: 3rem;
  color: var(--color-secondary);
  cursor: pointer;
  display: none;
}

/* menu */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li a {
  font-size: var(--sd-font-size);
  font-weight: 700;
  color: var(--color-primary);
  padding: 1.5rem;
  margin-right: .5rem;
}

.menu li a:hover {
  color: var(--color-secondary);
  transition: .5s ease-in-out;
  color: var(--color-white);
}

/* btn */

.btn:hover {
  background: var(--color-secondary);
  display: flex;
  gap: 50px;
  /* width: 100%; */
  /* padding: 1rem 2.5rem; */
  border-radius: 1rem;
  
  border: none;
  cursor: pointer;
  opacity: .8;
  /* transition: .5s ease-in-out; */
  transform: scale(1.1);
  transition: all 0.3s;
}

/* main */
.main {
  grid-area: main;
  display: grid;
  grid-template-areas: 
  "greetings greetings"
  "best-destinations best-destinations"
  "reasons-to-travel reasons-to-travel"
  "prices prices";
}

/* greetings */
.greetings {
  grid-area: greetings;
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  justify-content: center;
  align-items: center;
  padding-bottom: var(--sd-padding-size);
}

/* content-invite */
.content-invite {
  white-space: pre-line;
}

.content-invite h1 {
  font-size: var(--h1-font-size);
  font-weight: 700;
  list-style: 1.25;
}

.content-invite p {
  font-size: var(--sd-font-size);
  font-weight: 600;
  color: var(--color-primary);
  text-align: justify;
  padding-top: 2rem;
}

.content-invite p span {
  color: var(--color-secondary);
}

/* figure-travelling */
.figure-travelling {
  display: flex;
  justify-content: flex-end;
}

.figure-travelling img {
  width: 90%;
}


/* best-destinations */
.best-destinations {
  grid-area: best-destinations;
  padding-bottom: var(--sd-padding-size);
}

/* trip-container */
.trip-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: var(--sd-padding-size);
}

/* trip-card */
.trip-card {
  width: 30%;
  height: 500px;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* card-one */
#card-one {
  background-image: url(../img/brooklyn.jpg);
}

/* card-two */
#card-two {
  background-image: url(../img/praia.jpg);
}

/* card-three */
#card-three {
  background-image: url(../img/montanhas.jpg);
}

/* trip-name */
.trip-name {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-secondary);
  padding: 2rem;
  max-height: 86px;
  height: 100%;
}

.trip-name p {
  font-size: var(--sd-font-size);
  font-weight: 700;
  color: var(--color-white);
  text-align: center;
}

/* reasons-to-travel */
.reasons-to-travel {
  grid-area: reasons-to-travel;
  padding-bottom: var(--sd-padding-size);
}

/* reasons-container */
.reasons-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  justify-content: space-between;
  align-items: center;
  padding-top: var(--sd-padding-size);
}

/* header-item */
.header-item {
  display: flex;
  align-items: center;
}
.header-item span {
  font-size: var(--big-font-size);
  font-weight: 700;
  color: var(--color-primary);
  padding-right: 1rem;
  width: 100%;
  max-width: 56px;
}

/* travelers */
.travelers {
  display: flex;
  justify-content: flex-end;
}
.travelers img {
  width: 90%;
}

/* reason-item */
.reason-item p {
  font-size: var(--sd-font-size);
  font-weight: 400;
  color: var(--color-primary);
  text-align: justify;
  padding: 2rem 0;
  padding-left: 5rem;
  width: 75%;
}

/* prices */
.prices {
  grid-area: prices;
  padding-bottom: var(--ft-padding-size);
}

/* header-prices */
.header-prices h2 {
  font-size: var(--big-font-size);
  color: var(--color-secondary);
  text-align: center;
}
.header-prices p {
  font-size: var(--big-font-size);
  font-weight: 700;
  color: var(--color-primary);
  text-align: center;
  padding: 4rem 0;
}

/* prices-card-container */
.prices-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--color-soft);
  border: solid .3rem var(--color-secondary);
  border-radius: 1rem;
  padding: 4rem 2rem;
}

/* card */
.card {
  width: 100%;
  max-width: 380px;
  height: 530px;
  padding: 5rem 2.5rem;
  margin-right: 2rem;
  background: var(--color-primary);
  border: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
}

.card#premium {
  margin-right: 0;
}

/* card-body */
.card-body {
  height: 100%;
  font-weight: 700;
  color: var(--color-white);
}

.card-body .price {
  font-size: var(--card-big-font-size);
}

.card-body .price span {
  font-size: var(--card-sd-font-size);
}

.card-body .plan-type {
  font-size: var(--card-big-font-size);
  color: var(--color-secondary);
  padding-top: 2rem;
}

.card-body .plan-text {
  font-size: var(--card-sd-font-size);
  text-align: left;
  padding-top: 1rem;
}

.card-body .plan-list {
  max-height: 200px;
  height: 100%;
  padding-top: 2rem;
}

.card-body .plan-list li {
  display: flex;
  align-items: center;
  font-size: var(--li-font-size);
}

.card-body .plan-list i {
  font-size: 2rem;
  padding: 1rem 1.2rem 1rem 0;
}

/* plan-btn-container */
.plan-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.plan-btn-container button {
  width: 70%;
  padding: 1.5rem 2rem;
  background: var(--color-white);
  border: solid .3rem var(--color-secondary);
  color: var(--color-secondary);
  font-weight: 700;
}

/* footer */
.footer {
  grid-area: footer;
  padding-bottom: 5rem;
}

/* footer-menu-container */
.footer-menu-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, auto));
}

/* footer-menu-item */
.footer-menu-item span {
  display: inline-block;
  font-size: var(--medium-font-size);
  font-weight: 700;
  color: var(--color-secondary);
  padding-bottom: 1.8rem;
}

/* footer-menu */
.footer-menu li {
  font-size: var(--li-font-size);
  font-weight: 700;
  color: var(--color-primary);
  padding: .8rem 0;
  cursor: pointer;
}

/* menu-social-media */
.menu-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-social-media li {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  margin-right: 2rem;
  background: var(--color-secondary);
  font-size: 2.5rem;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-social-media li:last-child {
  margin-right: 0;
}

/* brand-container */
.brand-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.brand-container img {
  width: 80%;
}

@media screen and (max-width: 1100px) {
  :root {
      --sd-font-size: 1.8rem;
      --h1-font-size: 6rem;
  }

  .prices-card-container {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 4rem;
      justify-items: center;
  }

  .card {
      display: block;
      margin: 0;
  }
}

@media screen and (max-width: 955px) {
  .menu-toggle-container {
      display: block;
      position: absolute;
      right: 20px;
      z-index: 999;
  }

  .menu {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      max-width: 250px;
      height: 100vh;
      padding: 100px 20px;
      z-index: 800;
      background-color: var(--color-primary);
      flex-direction: column;
      transition: .5s ease;
  }

  .menu li a {
      color: var(--color-white);
      margin-right: 0;
      margin-bottom: 1.5rem;
  }

  .menu-toggle-container.active {
      position: fixed;
  }

  .menu.active {
      right: 0;
  }
}

@media screen and (max-width: 768px) {
  :root {
      --big-font-size: 3rem;
      --sd-padding-size: 5rem;
      --ft-padding-size: 8rem;
  }

  .logo {
      max-width: 177px;
  }

  .greetings {
      display: block;
      padding: 4rem 0 5rem;
  }

  .content-invite {
      white-space: normal;
      text-align: left;
  }

  .content-invite p {
      max-width: 80%;
      padding-top: 4rem;
  }

  .figure-travelling, .travelers {
      justify-content: center;
  }

  .trip-container {
      flex-direction: column;
  }

  .trip-card {
      width: 70%;
      margin-bottom: 3rem;
  }

  .trip-card#card-three {
      margin-bottom: 0;
  }

  .reasons-container {
      display: block;
  }

  .reason-item p {
      width: 100%;
      padding-left: 0;
  }

  .footer-menu-container {
      grid-template-columns: 1fr;
      row-gap: 4rem;
  }

  .brand-container {
      padding-top: 3rem;
  }

  .brand-container img {
      width: 60%;
  } 
}

@media screen and (max-width: 500px) {
  :root {
      --sd-font-size: 1.5rem;
      --li-font-size: 1.25rem;
  }

  .content-invite p {
      max-width: 100%;
      padding-top: 2rem;
  }

  .trip-card {
      width: 100%;
  }

  .card {
      padding: 3rem 2rem;
  }

  .plan-btn-container {
      padding: 2rem;
  }

  .plan-btn-container button {
      width: 100%;
  }
}